<!-- <header>
    Page header
</header> -->

<ul class="navbar">
    <li class="nav-item">
      <a class="nav-link" href="/login">LogIn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
</ul>