
<ul class="navbar">
    <% if (locals.user){ %>
        <li class="nav-item">
            <a class="nav-link" href="/logout">LogOut</a>
        </li>
    <% } else { %>
        <li class="nav-item">
            <a class="nav-link" href="/login">LogIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
    <% } %>
</ul>
