
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- font awesome CDN -->
    <script src="https://kit.fontawesome.com/8c469c78c5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/layout.css">
    
</head>
<body>

    <%- include("_header"); -%>
    <%- body %>
    <%- include("_footer"); -%>
    
</body>
</html>